.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(112, 191, 255);
}

.active {
    background-color: rgb(0, 46, 83);
}

.header a,
.header span {
    all: unset;
    color: black;
    padding: 1em;
    transition: all 0.5s;
}

.header a:hover,
.header span:hover {
    color: black;
    cursor: pointer;
    background-color: rgb(13, 146, 255);
}